<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="going.repository.mybatis.mappers.ItemMapper">

    <sql id="itemView">
        select ITEM_ID,
               ITEM_NAME,
               AGENCY_NAME,
               LOCATION,
               PRICE,
               DESCRIPTION,
               DEPARTURE_DATE,
               ARRIVAL_DATE,
               LIKE_COUNT
        from TRAVEL_ITEM
    </sql>

    <!-- 아이템 저장 -->
    <insert id="save">
        insert into TRAVEL_ITEM (ITEM_ID, AGENCY_ID, ITEM_NAME, AGENCY_NAME, LOCATION, PRICE, DESCRIPTION)
        VALUES ( TRAVEL_ITEM_SQ.nextval
               , #{agencyId}
               , #{itemName}
               , #{agencyName}
               , #{location}
               , #{price}
               , #{description})
        <selectKey keyProperty="itemId" resultType="long" order="AFTER">
            select travel_item_sq.currval from dual
        </selectKey>
    </insert>

    <!-- 아이템 조회 -->
    <select id="findById" resultType="going.domain.Item" parameterType="long">
        select *
        from TRAVEL_ITEM
        where DELETE_YN = 0
          and ITEM_ID = #{itemId}
    </select>

    <!-- 아이템 수정 -->
    <update id="update">
        update TRAVEL_ITEM
        set ITEM_NAME      = #{itemName},
            LOCATION       = #{location},
            PRICE          = #{price},
            DESCRIPTION    = #{description},
            DEPARTURE_DATE = #{departureDate},
            ARRIVAL_DATE   = #{arrivalDate}
        where DELETE_YN = 0
          and ITEM_ID = #{itemId}
    </update>

    <!-- 아이템 삭제 -->
    <delete id="deleteById" parameterType="long">
        update TRAVEL_ITEM
        set DELETE_YN = 1
        where ITEM_ID = #{itemId}
    </delete>

    <!-- 아이템 리스트 조회 -->
    <select id="findAll" parameterType="going.model.common.SearchDto" resultType="going.domain.Item">
    <![CDATA[
        select *
        from (select a.*, ROWNUM as rnum
              from (select * from TRAVEL_ITEM where DELETE_YN = 0 order by ITEM_ID desc) a)
        where rnum >= #{paging.startIndex}
          and rnum <= #{paging.endIndex}
    ]]>
    </select>

    <!-- 게시글 총 갯수 카운팅 -->
    <select id="count" parameterType="going.model.common.SearchDto" resultType="int">
        select count(*)
        from TRAVEL_ITEM
        where DELETE_YN = 0
    </select>
</mapper>